body {
  margin: 0;
  overflow: hidden;
}

#radiationBar {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 200px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #888;
}

#radiationLevel {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #00ff00, #ffff00, #ff0000);
}
